* {
  font-family: open sans;
  box-sizing: border-box;
  border-radius: 4px;
}

.title {
  font-size: 72px;
  line-height: 79px;
  display: flex;
  align-items: flex-end;
  color: #373a3c;
  margin-top: 70px;
  margin-bottom: 50px;
}
.content {
  display: block;
  font-size: 24px;
  color: #373a3c;
}
#result-space {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-decoration-line: underline;
  display: inline-block;
}

.get-number {
  width: 86px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #cccccc;
}

.btn {
  background: #0275d8;
  border: 1px solid #0275d8;
  margin-bottom: 4px;
}

.loader {
  border: 3px solid black;
  border-radius: 50%;
  border-top: 3px solid white;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: relative;
  top: 10px;
  left: 5px;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blockit {
  display: block !important;
}

.hide {
  display: none !important;
}

.content .alert {
  font-size: 16px;
  width: max-content;
  display: none;
}

.organizer {
  display: inline-block;
}

.wrong-input {
  outline-color: red;
  outline-width: 3px;
  outline-offset: -2px;
}

.server-error {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  text-decoration-line: none !important;
  color: #d9534f;
}

.result-title {
  margin-top: 40px;
}

#results-history {
  list-style: none;
  padding: 0px;
  font-size: 15px;
  line-height: 24px;
  color: #373a3c;
}

.result-space {
  margin-left: 17px;
}

.result-title {
  margin-bottom: 15px;
  display: flex;
}

.result-title h1 {
  margin-right: 15px;
}

.check-section {
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

#checkbox {
  margin-top: 5px;
  margin-right: 5px;
}

.move {
  position: relative;
  z-index: 4;
  right: 0px;
}

.red {
  border: 1px solid red;
  color: red;
}
